textarea {
    min-height: 400px;
}

body{
	
	background-color: black;
	background-image: url("https://images.unsplash.com/photo-1586114728926-fc10c981b7d3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    margin-left: 40%;
    background-size: 100% 100%;
    background-attachment: fixed;

}
.container{
	float:right;
}

h3{
	margin-left: 2%;
	font-family: "Sofia";
	font-weight: bold;
    color:#7E57C2;
}
#count{
	font-size: 15px;
}

.card>h2{
    font-weight: bold;

}
.card>h4{
	font-size:25px;
	font-family: Times New Roman;
}
.card>.card{
	padding:30px;
	border:1px solid black ;
}
.card{
	border:1px solid #7E57C2 ;
}

#span{
	font-family: Arial;
	color: black;
}
.btn-outline-dark:active{	
	border-radius: 8px;
	background-color: grey;

}


   
  @media screen and (max-width: 760px) {
    nav>i.heading{
      font-size: 5px; 
      
    }
}

  @media screen and (max-width: 600px) {
    nav>h5{
      font-size: 15px;
      
    }
}

