textarea {
    min-height: 400px;
}

body{
	
	background-color: black;
}
.btn-secondary{
	background-color: #8A2BE2;
	border-radius: 8px;
}

.card>h2{
    font-weight: bold;

}
.card>h4{
	font-size:25px;
	font-family: Times New Roman;
}
.card>.card{
	padding:30px;
	border:1px solid purple;
}

#span{
	font-family: Arial;
	color: black;
}