{% extends "mail/layout.html" %}
{% load static %}

{% block body %}




    <br/>
    <br/>

    <button class="btn btn-sm btn-outline-dark" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-dark" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-dark" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-dark" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-dark" href="{% url 'logout' %}">Log Out</a>
    <hr style="border:1px solid black">

    <div id="emails-view"></div>
    <div id="view-mail"></div>
    <div id="compose-view">

        <h5 style="text-align: center;font-weight: bold">New Message <i class="fa fa-plus"></i></h5>


        <form id="compose-form" >
            <div class="form-group">
                From: <input disabled class="form-control" id="compose-sender" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" placeholder="Recipient" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <button type="submit" id="send-form" class="btn btn-dark">Send</button>


        </form>
        <br/>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'mail/inbox.js' %}"></script>    
{% endblock %}